.dark-bg-gradient {
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%); 
}

a.nav-link, a.navbar-brand{
    color: white!important;
}
a.nav-link:hover, .navbar-brand:hover {
    color: gainsboro!important;
}
  
.skill-img {
    max-height: 50px;
    max-width: 50px;
}

.social img {
    width: 2.5em;
    height:2.5em;
    margin: 5px;
}

.form {
    width: 95% !important;
}

.chat {
    font-family: 'Gill Sans, sans-seri';
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;
}